<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
    <link rel="stylesheet" href="statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="statics/css/responsive.css">
    <link rel="stylesheet" href="statics/css/style.css">
    <link rel="stylesheet" href="statics/css/video-js.css">

    <link rel="stylesheet" href="statics/fonts/css/font-awesome.min.css" />
    <link rel="stylesheet" href="statics/plugins/animate.css-master/animate.min.css">
    <link href="statics/plugins/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
    <link href="statics/plugins/jquery-date-range-picker-master/dist/daterangepicker.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="statics/plugins/slick-1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="statics/plugins/slick-1.8.0/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="statics/plugins/slider/css/normalize.min.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="statics/plugins/slider/css/smartslider.min.css" media="screen, print" />

    <script type="text/javascript" src="statics/plugins/slider/js/nextend-gsap.min.js"></script>
    <script type="text/javascript" src="statics/plugins/slider/js/n2-j.min.js"></script>
    <script type="text/javascript" src="statics/plugins/slider/js/nextend-frontend.min.js"></script>
    <script type="text/javascript" src="statics/plugins/slider/js/smartslider-frontend.min.js"></script>
    <script type="text/javascript" src="statics/plugins/slider/js/smartslider-simple-type-frontend.min.js"></script>
    <script type="text/javascript" src="statics/plugins/slider/js/nextend-webfontloader.min.js"></script>

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <!-- Scripts -->
    <script src="statics/js/custom.js"></script>
    <script src="statics/js/jquery-3.3.1.min.js"></script>
    <script src="statics/js/bootstrap.min.js"></script>
    <script src="statics/plugins/slick-1.8.0/slick/slick.min.js"></script>
    <script src="statics/plugins/flex-menu/flexmenu.min.js"></script>
    <script src="statics/plugins/jquery-match-height-master/dist/jquery.matchHeight.js"></script>
    <script src="statics/plugins/muuri-master/muuri.js"></script>
    <script src="statics/plugins/vide-0.5.1/dist/jquery.vide.min.js"></script>
    <script src="statics/plugins/paroller.js-master/dist/jquery.paroller.min.js"></script>
    <script src="statics/js/video.js"></script>
    <script src="statics/js/jquery.inview.min.js"></script>
    <script src="statics/js/progressbar.min.js"></script>
    <script src="statics/plugins/lightbox2-master/dist/js/lightbox.js"></script>
    <script src="statics/js/moment.min.js"></script>
    <script src="statics/plugins/jquery-date-range-picker-master/dist/jquery.daterangepicker.min.js"></script>
    <script src="statics/plugins/wow-master/dist/wow.min.js"></script>
    <script src="statics/js/script.js"></script>
  </body>
  
</html>
